/* When you create a new color theme you must also create a color-pin.png file in assets/images/ where color is the theme color.
   Then edit identify.js and utilFuncs.js and add this color pin to the if checks. Search for color-pin.png. */

.green-theme {
  --brand: #a1a889;/*#d4dbbe*/
  --hover: #75873c;/*#aaaf99*/
  --press:  #4e5d2d;
  --underline: #aaaf9966;
  --link-hover: #758b45;
  --lightBackground: #eff3e1;
  --background: #d4dbbe;
  --calcite-color-text-inverse: #000; /* text color on --brand background */
  --calcite-color-brand: var(--brand)!important;
  --calcite-color-brand-press: var(--press);
  --calcite-color-brand-hover: var(--hover);
  --calcite-color-brand-underline: var(--underline);
  --calcite-dialog-background-color: #fff; /* background color of Layer List */
}
.orange-theme{
    --brand: #e0dec8;
    --hover: #f8b944;
    --press: orange;
    --underline: #f8b94466;
    --link-hover: #f8b944;
    --lightBackground: #f3f3e1;
    --background: #e0dec8;
    --calcite-color-text-inverse: #000; /* text color on --brand background */
    --calcite-color-brand: var(--brand)!important;
    --calcite-color-brand-press: var(--press);
    --calcite-color-brand-hover: var(--hover);
    --calcite-color-brand-underline: var(--underline);
    --calcite-dialog-background-color: #fff; /* background color of Map Layers */
}

/* link colors */
a:-webkit-any-link, .link {
    color: var(--press)!important;
    text-decoration: underline;
}
a:-webkit-any-link:hover, .link:hover {
    color: var(--link-hover)!important;
}
/* identify marker symbol color NOT WORKING change themeColor.png in assests/images */
.markerColor {
    fill: var(--press);
}
:host{
    stroke: var(--brand);
}
#titleDiv{
    background-color: var(--background);
}
.esri-menu__list-item--active, .esri-menu__list-item--active:hover, .esri-menu__list-item--active:focus {
    background-color: var(--lightBackground);
    border-left-color: var(--press);
}
/* calcite-slider in map layer list! */
calcite-slider {
    --calcite-color-brand: var(--press);
}
calcite-tab-title {
    --calcite-color-brand: var(--press);
}
calcite-tab-title:active {
    color: var(--press);
}
calcite-tile {
    --calcite-color-brand: var(--press);
}
calcite-button {
    --calcite-color-brand: var(--brand);
    --calcite-color-brand-hover: var(--hover);
    --calcite-color-brand-press: var(--press);
}
:root button, .button {
    --calcite-color-brand: var(--brand);
    --calcite-color-brand-hover: var(--hover);
    --calcite-color-brand-press: var(--press);
}
calcite-switch {
  --calcite-color-brand: var(--brand);
  --calcite-ui-brand: var(--brand);
  --calcite-color-brand-hover: var(--hover);
  --calcite-color-brand-press: var(--press);
  --calcite-color-brand-underline: var(--underline);
}
input{
    border-color: light-dark(var(--hover), var(--brand)) !important;
    border-radius: 5px !important;
    padding: 3px;
}
input:active, select:hover {
    outline-color: var(--hover)
}
select{
    border-color: light-dark(var(--hover), var(--brand)) !important;
    border-radius: 5px !important;
    border-width: 2px;
    padding: 3px;
}
/* try to get rid of blue border on selected button */
button,
    textarea,
    input,
    select,
    a{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
    
    }