body{
	font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
	color:rgb(0,0,0);
	font-size:16px;
	box-sizing: border-box;
	overflow-x: hidden;
	max-width: 900px;
	margin: auto;
	background-color: #efefef;
}
article{
	background-color: #fff;
	padding: 10px;
	min-height: 100vh;
}
.headcontent {
	text-align:center;
	border-bottom: 1px inset #6a6a6a;
	border-top: 1px inset #6a6a6a;
	padding: 20px;
}
.subtitle {
	font-weight: bold;
	/*font-style: capitalize;*/
}