<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2010 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/License.txt
//
// Read more about ArcGIS API for JavaScript //developers.arcgis.com/javascript/index.html
////////////////////////////////////////////////////////////////////////////////
-->
<configuration xmlns:xsi="//www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/config.xsd">
    <title>Hunting Atlas</title>
    <subtitle>Colorado Parks and Wildlife</subtitle>
    <app>huntingatlas</app>
    <!-- logo in header bar-->
    <logo>assets/images/logo.svg</logo>
	<httpproxy>/proxy/DotNet/proxy.ashx</httpproxy>
	<!-- Do not show the disclaimer when the following tag is set to true. This tag is not required -->
    <noDisclaimer>false</noDisclaimer>
    <style>
		<font name="Helvetica" size="11"/>    	
    </style>
    
    <!-- REST endpoint to a GeometryService. This should be a service published by CPW and not pointing at an ESRI service.  Use to convert points to new projections. -->
    <geometryservice url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    
    <printservicegeo>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/georefPrinting/GPServer/georefPrinting</printservicegeo>
	<printservice>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/ExportWebMap/GPServer/Export%20Web%20Map</printservice>
    
	<!-- Find a Place Service **NEW** -->
	<findplaceservice url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/GNIS_Loc/GeocodeServer"/>
	
	<!-- Address Service **NEW** -->
	<addressservice url="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"/>
	
    <!-- Key to allow Bing Map background layers to work.  Do not change. -->
	<!--bing key="Ak1eor2ZBWpGcsTkRL8PjLwDpPda-_tK9v-PS-5IbeiOpKm0Eq6n4Xdf26hFbAN6"/-->

    <!-- wkid is required.  This is the spatial reference number.-->
    <map top="85" wkid="102100"
    	initialextent="-12350000 4250000 -11150000 5250000">
        <!-- feature service or map service with groups and layers 
            tag: layer
            attributes:
                label: service display name
                open: true or false, is this group open?
                type: featureservice, mapservice
                visible: true or false
                alpha: opacity 0.8
                url: MapServer or FeatureServer URL
                popup_fields: fields to identify comma delimited (feature service only)
                popup_labels: labels for the above fields comma delimited (feature service only)
        -->
        
        <!-- group layer
            tag: layer
            attributes:
                group: group name
                open: true or false, is this group open? Top level are never open.
                visible: true or false
                alpha: opacity 0.8
                radio: true or false, use radio buttons for children (only one visible at a time). Default is false if not specified.
        -->

        <!-- sub layer in parent group
            tag: layer
            attributes:
                label: service display name
                parentGroup: group name
                visible: true or false
                alpha: opacity 0.8 (optional)
                url=a FeatureService 
                popup_fields: fields to identify comma delimited (feature service only)
                popup_labels: labels for the above fields comma delimited (feature service only)
        -->
        <!-- sub group under the parent group with or without layers under it.
            tag: layer
            attributes:
                group=label
                parentGroup=parent group name
                open=true or false, is this group open?
                alpha=opacity for the group
                visible=true or false, is this group visible?
                url=a FeatureService to add layers to this group. If this is missing, it will just add the group and the rest of the attributes are ignored.
                layerIds=FeatureService ids in display order, and can use 3-6,9,11 format. 
                layerVis=visibility of each layer in display order.
                layerNames=optional display name. If missing, it will use names from FeatureService. Format="layer1 name,layer2 name,..." in display order.
                popup_fields: fields to identify comma delimited (feature service only)
                popup_labels: labels for the above fields comma delimited (feature service only)
        -->
        <!-- operationallayers:  Note: Displays in reverse order. -->
        <operationallayers>
            <!-- Land and Access is hard coded in myLayerList.js to add correct GMU layer: big game, sheep, or goat -->
			<layer label="Land and Access" open="true" type="dynamic" visible="true" alpha="1.0"
                url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/HuntingAtlas2025/LandAccess2025/MapServer"/>
			
            <!-- Game Species group layer Bob's -->
            <layer group="Game Species" open="false" visible="false" alpha="0.7" radio="true"/>
                <!--Elk layerNames="Migration Patterns,Migration Corridors,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Resident Population Area,Overall Range"-->
                <!--Bighorn layerNames="Migration Patterns,Migration Corridors,Severe Winter Range,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Overall Range"-->
                 <layer group="Black Bear" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="21,19,22"
                    layerVis="true,true,true"
                    layerNames="Black Bear Summer Concentration,Black Bear Fall Concentration,Black Bear Overall Range"/>
                <layer group="White-Tailed Deer" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="193-195"
                    layerVis="true,false,false"
                    layerNames="White-Tailed Deer Concentration Area,White-Tailed Deer Winter Range,White-Tailed Deer Overall Range"/>
                <layer group="Turkey" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="201-203"
                    layerVis="true,true,true"
                    layerNames="Turkey Winter Concentration Area,Turkey Winter Range,Turkey Overall Range"/>
                <layer group="Pronghorn" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="115,119,121,122,124"
                    layerVis="false,false,true,true,false"
                    layerNames="Pronghorn Migration Patterns,Pronghorn Migration Corridors,Pronghorn Winter Concentration,Pronghorn Winter Range,Pronghorn Overall Range"/>
                <layer group="Mule Deer" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="96,102,104,105,99"
                    layerVis="false,true,true,true,true"
                    layerNames="Mule Deer Migration Patterns,Mule Deer Migration Corridors,Mule Deer Winter Concentration Area,Mule Deer Winter Range,Mule Deer Summer Range"/>
                <layer group="Mountain Goat" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="87,89-92"
                    layerVis="true,true,true,true,false"
                    layerNames="Mountain Goat Migration Cooridors,Mountain Goat Concentration Area,Mountain Goat Summer Range,Mountain Goat Winter Range,Mountain Goat Overall Range"/>
                <layer group="Moose" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="80,82,84,83,85"
                    layerVis="true,true,true,true,false"
                    layerNames="Moose Migration Patterns,Moose Concentration Area,Moose Summer Range,Moose Winter Range,Moose Overall Range"/>
                <layer group="Elk" parentGroup="Game Species" open="true" visible="true"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="33,40,42,43,36"
                    layerVis="false,true,true,true,true"
                    layerNames="Elk Migration Patterns,Elk Migration Corridors,Elk Winter Concentration Area,Elk Winter Range,Elk Summer Range"/>
                <layer group="Bighorn Sheep" parentGroup="Game Species" open="false" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="8,9,15-17,10,11,18"
                    layerVis="false,true,true,true,true,false,true,false"
                    layerNames="Bighorn Migration Patterns,Bighorn Migration Corridors,Bighorn Winter Severe Range,Bighorn Winter Concentration Area,Bighorn Winter Range,Bighorn Summer Concentration Area,Bighorn Summer Range,Bighorn Overall Range"/>

            <layer label="Base Data" open="true" type="dynamic" visible="true" alpha="1.0" listMode="hide"
                url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/HuntingAtlas2025/BaseData2025/MapServer"/>

            <!-- layers in groups must be feature services! -->
            <layer group="Transportation" visible="true" alpha="1" radio="false"/>
                <!-- MVUM Status and Visitor Map Symbology are not used -->
                <layer  parentGroup="Transportation" label="Motor Vehicle Use Map" open="true" visible="true" alpha="1"
					url="https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MVUM_02/MapServer"/>
                <layer  parentGroup="Transportation" label="BLM Roads and Trails" open="true" visible="true" alpha="1"
                    url="https://gis.blm.gov/coarcgis/rest/services/transportation/BLM_CO_GTLF/MapServer" />
                <layer parentGroup="Transportation" label="Colorado Statd Parks Roads" visible="true" minScale="144448"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/1" />
                <layer parentGroup="Transportation" group="Trails" visible="true" open="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/"
                    layerIds="14,15"
                    layerVis="true,true"
                    layerNames="Trailheads,Trails"
                    minScale="144448"/>
                <layer parentGroup="Transportation" label="RoadsTrails" open="true" visible="false" alpha="1.0"
                    url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/HuntingAtlas2025/RoadsTrails/MapServer"/>

            <layer group="Wildfire" open="false" visible="false" alpha="1" radio="false"/>
                <layer parentGroup="Wildfire" label="Wildfire Incidents" type="dynamic" visible="true" alpha="0.8" 
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/0"/>
                <layer parentGroup="Wildfire" label="Wildfire Perimeters" type="dynamic" visible="true" alpha="0.8"
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/1"/>
        </operationallayers>
		
		<hideGroupSublayers>Status,Emergency,Field Office,Chamber of Commerce or Welcome Center,License Agent,Campgrounds and SWA Facilities,GMU boundary (Hunting Units)</hideGroupSublayers>
		<radiolayers>Game Species</radiolayers>
    </map>	 
    
    <links>
        <iconsize>30px</iconsize>
        <helplink label="Use case #1"
            text="Video showing how to..."
            url = "https://"
            icon="./assets/images/star.png"/>
        <helplink label="Getting Started"
            text="A video highlighting the features of our map atlas"
            url="https://"
            icon="./assets/images/compass3.png"/>
        <link label="CPW Website"
            url="https://cpw.state.co.us"
            icon="./assets/images/logo.svg"/>
        <link label="FishingAtlas"
            url="./index.html?app=FishingAtlas"
            icon="./assets/images/logo.svg"
            extent="true"/>
		<link label="Big Game Brochure"
    		url="https://cpw.state.co.us/aboutus/Pages/RegulationsBrochures.aspx"
    		icon="./assets/images/i_documentadd.png"/>
		<link label="Buy License!"
    		url="https://cpw.state.co.us/BuyApply/pages/hunting.aspx"
    		icon="./assets/images/i_buylicense.png"/>
    </links>     
</configuration>