<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2010 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/License.txt
//
// Read more about ArcGIS API for JavaScript //developers.arcgis.com/javascript/index.html
//
// operationallayers: Note: Displays in reverse order. The top level layers or groups will display in a separate
        dialog widget. When you click on one of these it will open a new dialog widget.
        feature service or map service with groups and layers 
            tag: layer
            attributes:
                label: service display name
                opensublayer: comma delimited list of group layer names under this service to expand at the start.
                visible: true or false
                alpha: opacity 0.8. Must be set or data will be invisible. Set to 1 to allow service defaults to show.
                url: MapServer or FeatureServer URL
                transparency_control: Should a transparency control slider be added next to Visibility? Values: "true" or "false". Defaults to false.
                filter=SQL where filter. For example: "type &lt;&gt; 'Road'". For not equal <> use &lt;&gt;
                symbol_icon=Picture marker symbol image file for point layer. Can be png or svg (but needs height and width). For example: "./assets/images/file.png"
                minScale="144448" layer turns on below this scale. 1:100k="144448" 1:50k="72224"
                maxScale="144448" layer turns off above this scale
                listMode=Should this service be included in the layer list?
                legendEnabled="true" or "false" default is "true". Should this service be include in the legend?
        
        group layer
            tag: layer
            attributes:
                group: group name
                open: true or false, is this group open? Top level should not use open. If radio is true, this is ignored.
                opensublayer: comma delimited list of group layer names under this service to expand at the start.
                visible: true or false
                alpha: opacity 0.8
                radio: true or false, uses a drop down list for children (only one set is visible at a time). Game Species drop down
                    with Elk, Bighorn, etc. Selected species displays it's children at the top level in the layer list.
                transparency_control: Should a transparency control slider be added next to Visibility? Values: "true" or "false". Defaults to false.

        sub layer in parent group
            tag: layer
            attributes:
                label: service display name
                parentGroup: group name
                NOTE: if the parentGroup is the same as the label, it will not put it in a group, but will
                    put the layers at the top level. The parentGroup will be in the first dialog widget.
                opensublayer: comma delimited list of group layer names under this service to expand at the start.
                visible: true or false
                alpha: opacity 0.8 (optional)
                url=a FeatureService 
                minScale="144448" layer turns on below this scale. 1:100k="144448" 1:50k="72224"
                maxScale="144448" layer turns off above this scale
                filter=SQL where filter. For example: "type &lt;&gt; 'Road'". For not equal <> use &lt;&gt;
                symbol_icon=Picture marker symbol image file for point layer. Can be png or svg (but needs height and width). For example: "./assets/images/file.png"
                listMode=Should this service be included in the layer list?
                legendEnabled="true" or "false" default is "true". Should this service be include in the legend?
        
        sub group under the parent group with or without layers under it.
            tag: layer
            attributes:
                group=label
                parentGroup=parent group name
                open=true or false, is this group open?
                opensublayer: comma delimited list of group layer names under this service to expand at the start.
                alpha=opacity for the group
                visible=true or false, is this group visible?
                url=a FeatureService to add layers to this group. If this is missing, it will just add the group and the rest of the attributes are ignored.
                layerIds=FeatureService ids in display order, and can use 3-6,9,11 format.
                minScale=can be 1 value for all layer ids, or comma delimited min scales for each layerIDs.
                maxScale=can be 1 value for all layer ids, or comma delimited min scales for each layerIDs.
                filter=SQL where filter. Comma delimited, one for each layerIDs above. For example: ",type &lt;&gt; 'Road'". For not equal <> use &lt;&gt;
                symbol_icon=Picture marker symbol image file for point layer. Can be png or svg (but needs height and width). Comma delimited, one for each layerIDs above. For example: "./assets/images/file.png,"
                layerVis=visibility of each layer in display order.
                layerNames=optional display name. If missing, it will use names from FeatureService. Format="layer1 name,layer2 name,..." in display order.
                listMode=Should this service be included in the layer list?
                legendEnabled="true" or "false" default is "true". Should this service be include in the legend?
        
    hideGroupSublayers: do not show sublayers in a group. If a mapservice url has the id with it, you will need to add it to this tag.
////////////////////////////////////////////////////////////////////////////////
-->
<configuration xmlns:xsi="//www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/config.xsd">
    <title>Ver4 Hunting Atlas</title>
    <!--subtitle>Colorado Parks and Wildlife</subtitle-->
    <app>huntingatlas</app>
    <!-- logo in header bar-->
    <logo>./assets/images/logo.svg</logo>
	<httpproxy>/proxy/DotNet/proxy.ashx</httpproxy>
	<!-- Do not show the disclaimer when the following tag is set to true. This tag is not required -->
    <noDisclaimer>false</noDisclaimer>
    <style>
		<font name="Helvetica" size="11"/>    	
    </style>
    
    <!-- REST endpoint to a GeometryService. This should be a service published by CPW and not pointing at an ESRI service.  Use to convert points to new projections. -->
    <geometryservice url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    
    <printservicegeo>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/georefPrinting/GPServer/georefPrinting</printservicegeo>
	<printservice>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/ExportWebMap/GPServer/Export%20Web%20Map</printservice>
    
	<!-- Colorado Places Service GNIS -->
	<findplaceservice url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/GNIS_Loc/GeocodeServer"/>
	
	<!-- Address Service -->
	<!--addressservice url="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"/-->
    <!-- 6/17/25 now using hard code address service in mySearch.js
    "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/"-->
	
    <!-- Key to allow Bing Map background layers to work.  Do not change. NOT USED-->
	<!--bing key="Ak1eor2ZBWpGcsTkRL8PjLwDpPda-_tK9v-PS-5IbeiOpKm0Eq6n4Xdf26hFbAN6"/-->

    <!-- wkid is required.  This is the spatial reference number.-->
    <map wkid="102100"
    	initialextent="-12350000 4250000 -11150000 5250000">
        <!-- operationallayers:  Note: Displays in reverse order. -->
        <operationallayers>
            <!-- Land and Access is hard coded in myLayerList.js to add correct GMU layer: big game, sheep, or goat -->
			<!-- Land and Access is hard coded in myLayerList.js to add legend -->
            <!-- GMU is hard coded in addMapLayers.js to style the line color and labels -->
			<layer group="Land and Access" transparency_control="true" visible="true" alpha="1.0"/>
                <!--layer parentGroup="Land and Access" label="CoMap" visible="true" alpha="0.7"
                    filter="MANAGER IN ('BLM', 'FWS', 'NPS', 'USFS - ARAP', 'USFS - COM', 'USFS - GM', 'USFS - GUNN', 'USFS - MANTI-LA SAL', 'USFS - PIKE', 'USFS - PNG', 'USFS - RIO GRANDE', 'USFS - ROOS', 'USFS - ROUTT', 'USFS - SAN JUAN', 'USFS - SI', 'USFS - UNC', 'USFS - WHITE RIVER', 'TRIBE') And PUBLIC_ACCESS &lt;&gt; 'No'"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/COMaP_Map_Service/FeatureServer/0"/-->
                <layer parentGroup="Land and Access" label="GMU Boundary" visible="true" alpha="1.0"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/6"/>
                <layer parentGroup="Land and Access" label="Land and Access" visible="true" alpha="1.0" minScale="10000"
                    listMode="false" legendEnabled="true"
                    url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/HuntingAtlas2025/LandAccess2025/MapServer/5"/>
            <!-- Game Species group layer Bob's -->
            <layer group="Game Species" transparency_control="true" visible="false" alpha="0.7" radio="true"/>
                <!--Elk layerNames="Migration Patterns,Migration Corridors,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Resident Population Area,Overall Range"-->
                <!--Bighorn layerNames="Migration Patterns,Migration Corridors,Severe Winter Range,Winter Concentration Area,Winter Range,Summer Concentration Area,Summer Range,Overall Range"-->
                 <layer group="Black Bear" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="21,19,22"
                    layerVis="true,true,true"
                    layerNames="Black Bear Summer Concentration,Black Bear Fall Concentration,Black Bear Overall Range"/>
                <layer group="White-Tailed Deer" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="193-195"
                    layerVis="true,false,false"
                    layerNames="White-Tailed Deer Concentration Area,White-Tailed Deer Winter Range,White-Tailed Deer Overall Range"/>
                <layer group="Turkey" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="201-203"
                    layerVis="true,true,true"
                    layerNames="Turkey Winter Concentration Area,Turkey Winter Range,Turkey Overall Range"/>
                <layer group="Pronghorn" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="115,119,121,122,124"
                    layerVis="false,false,true,true,false"
                    layerNames="Pronghorn Migration Patterns,Pronghorn Migration Corridors,Pronghorn Winter Concentration,Pronghorn Winter Range,Pronghorn Overall Range"/>
                <layer group="Mule Deer" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="96,102,104,105,99"
                    layerVis="false,true,true,true,true"
                    layerNames="Mule Deer Migration Patterns,Mule Deer Migration Corridors,Mule Deer Winter Concentration Area,Mule Deer Winter Range,Mule Deer Summer Range"/>
                <layer group="Mountain Goat" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="87,89-92"
                    layerVis="true,true,true,true,false"
                    layerNames="Mountain Goat Migration Cooridors,Mountain Goat Concentration Area,Mountain Goat Summer Range,Mountain Goat Winter Range,Mountain Goat Overall Range"/>
                <layer group="Moose" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="80,82,84,83,85"
                    layerVis="true,true,true,true,false"
                    layerNames="Moose Migration Patterns,Moose Concentration Area,Moose Summer Range,Moose Winter Range,Moose Overall Range"/>
                <layer group="Elk" parentGroup="Game Species" visible="true"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="33,40,42,43,35,36,39,44"
                    layerVis="false,true,true,true,false,true,false,false"
                    layerNames="Elk Migration Patterns,Elk Migration Corridors,Elk Winter Concentration Area,Elk Winter Range,Elk Summer Concentration Range,Elk Summer Range,Elk Resident Population Area,Elk Overall Range"/>
                <layer group="Bighorn Sheep" parentGroup="Game Species" visible="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/CPWSpeciesData/FeatureServer/"
                    layerIds="8,9,15-17,10,11,18"
                    layerVis="false,true,true,true,true,false,true,false"
                    layerNames="Bighorn Migration Patterns,Bighorn Migration Corridors,Bighorn Winter Severe Range,Bighorn Winter Concentration Area,Bighorn Winter Range,Bighorn Summer Concentration Area,Bighorn Summer Range,Bighorn Overall Range"/>
            <layer group="Transportation" visible="true" alpha="1" radio="false"/>
                <!-- MVUM Status and Visitor Map Symbology are not used -->
                <!--url="https://services.arcgis.com/h4jNYexE41HKnu98/ArcGIS/rest/services/Motor_Vehicle_Use_Map_Roads/FeatureServer/0"/-->
                <layer  parentGroup="Transportation" label="Motor Vehicle Use Map" visible="true" alpha="1"  minScale="144448"
					url="https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MVUM_02/MapServer/1"/>
                <layer  parentGroup="Transportation" label="BLM Colorado Routes" visible="false" alpha="1" minScale="144448"
                    url="https://gis.blm.gov/coarcgis/rest/services/transportation/BLM_CO_GTLF/FeatureServer/5" />
                <layer parentGroup="Transportation" label="Colorado State Parks Roads" visible="false" minScale="144448"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/1" />
                <!-- use &lt;&gt; for not equal in SQL Expression filter for <> -->
                <!--For picture marker symbols for point layers use: symbol_icon="./assets/images/file.svg,./assets/images/file.png"-->
                <layer parentGroup="Transportation" group="Trails" visible="true" open="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/"
                    layerIds="14,15"
                    filter=",type &lt;&gt; 'Road'"
                    layerVis="true,true"
                    layerNames="Trailheads,Trails"
                    minScale="36112,144448"/>
            <layer group="Wildfire" visible="true" alpha="1"/>
                <layer parentGroup="Wildfire" label="Wildfire Incidents" visible="true" alpha="0.8" 
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/0"/>
                <layer parentGroup="Wildfire" label="Wildfire Perimeters" visible="true" alpha="0.8"
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/1"/>

            <layer label="Base Data" visible="true" alpha="1.0" listMode="hide"
                url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/HuntingAtlas2025/BaseData2025/MapServer"/>
        </operationallayers>
		
		<hideGroupSublayers>Motor Vehicle Use Map,Township Range Sections,Trails,Emergency,Field Office,Chamber of Commerce or Welcome Center,License Agent,Campgrounds and SWA Facilities,GMU boundary (Hunting Units)</hideGroupSublayers>
		<radiolayers>Game Species</radiolayers>
    </map>	 
    
    <links>
        <iconsize>30px</iconsize>
        <!--helplink label="Use case #1"
            text="Video showing how to..."
            url = "https://"
            icon="./assets/images/star.png"/-->
        <!--helplink label="Getting Started"
            text="A video highlighting the features of our map atlas"
            url="https://"
            icon="./assets/images/compass3.png"/-->
        <link label="CPW Website"
            url="https://cpw.state.co.us"
            icon="./assets/images/logo.svg"/>
		<link label="OLD Colorado Hunting Atlas"
            url="https://ndismaps.nrel.colostate.edu/OldAtlas/index.html?app=HuntingAtlas"
            icon="./assets/images/i_huntingatlas.svg"
            extent="true"/>	
        <link label="Colorado Fishing Atlas"
            url="./index.html?app=FishingAtlas"
            icon="./assets/images/i_fishingatlas.svg"
            extent="true"/>
		<link label="Big Game Brochure"
    		url="https://cpw.state.co.us/aboutus/Pages/RegulationsBrochures.aspx"
    		icon="./assets/images/i_brochure.svg"/>
		<link label="Buy License!"
    		url="https://www.cpwshop.com/home.page"
    		icon="./assets/images/i_license.svg"/>
        <link label="Send us Your Feedback" text="Please send your questions, comments, or problems with the Colorado HuntingAtlas to ndisadmin@nrel.colostate.edu."
            url="mailto:ndisadmin@nrel.colostate.edu"
            icon="./assets/images/i_mail.png"/>
	</links>	
</configuration>