<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Copyright (c) 2010 ESRI
//
// All rights reserved under the copyright laws of the United States.
// You may freely redistribute and use this software, with or
// without modification, provided you include the original copyright
// and use restrictions.  See use restrictions in the file:
// <install location>/License.txt
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../xsd/config.xsd">
    <title>Colorado Fishing Atlas</title>
    <!--subtitle>Colorado Parks and Wildlife</subtitle-->
    <app>fishingatlas</app>
    <!-- logo in header bar-->
    <logo>assets/images/logo.svg</logo>
	<httpproxy>/proxy/DotNet/proxy.ashx</httpproxy>

    <!-- Application logo at bottom right corner -->
    <!-- To change this logo and link, edit StaticImageWidget.xml-->
    <widget bottom="2" right="10" config="StaticImageWidget.xml" url="../widgets/StaticImage/StaticImageWidget.swf"/>
    
    <style>
		<font name="Helvetica" size="11"/>    	
    </style>
    
    <!-- REST endpoint to a GeometryService. This should be a service published by CPW and not pointing at an ESRI service.  Use to convert points to new projections. -->
    <geometryservice url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/Utilities/Geometry/GeometryServer"/>
    
    <!-- FishingAtas Letter Landscape, etc geopdf files do not exist on ndis-flex-2. Old note: Mobile download printservicegeo needs to be from same domain or it will not be able to rename the file with a download. This did not work on the Android app so this is no longer the case. -->
	<printservicegeo>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/georefPrinting/GPServer/georefPrinting</printservicegeo>
    <printservice>https://ndismaps.nrel.colostate.edu/arcgis/rest/services/PrintTemplate/ExportWebMap/GPServer/Export%20Web%20Map</printservice>
	
	<!-- Find a Place Service **NEW** -->
	<findplaceservice url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/GNIS_Loc/GeocodeServer"/>
	
	<!-- Address Service **NEW** -->
	<addressservice url="https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates"/>
	
    <!-- Key to allow Bing Map background layers to work.  Do not change. -->
	<!--bing key="Ak1eor2ZBWpGcsTkRL8PjLwDpPda-_tK9v-PS-5IbeiOpKm0Eq6n4Xdf26hFbAN6"/-->

    <!-- wkid is required.  This is the spatial reference number.-->
    <map top="85" wkid="102100"
    	 initialextent="-12350000 4250000 -11150000 5250000">
         <!-- Set open=true if you want this mapservice layer expanded at the start. -->
         <!-- Set opensublayer=comma delimited list of layer names under the mapservice checkbox to expand at the start. open must be true. -->
         <!--     example: open="true" opensublayer="Places of Interest,Township Range Sections" --> 
        <!-- operationallayers:  Note: Displays in reverse order. -->
        <operationallayers>
            <!-- Note: if parentGroup is the same as the label it will put the layers at the top level instead of in an expandable block -->
            <!--Land and Access-->
            <layer label="Land and Access" visible="true" alpha="1"
                    url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/FishingAtlas2025/LandAccess2025/MapServer"/>
            <layer group="Fishing Info" visible="true"/>
                <layer parentGroup="Fishing Info" label="Watercraft Inspection Stations" visible="true" alpha="1" minScale="144448"
                    symbol_icon="./assets/images/boat_inspection.png"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/ArcGIS/rest/services/PublicWID/FeatureServer/0"/>
			    <layer parentGroup="Fishing Info" label="Stream Guage" visible="true" alpha="1"
                    symbol_icon="./assets/images/water_20dp.svg" minScale="72224" filter="governing_location = 'CO, USA'"
                    url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/Live_Stream_Gauges_v1/FeatureServer/0"/>
                <layer parentGroup="Fishing Info" label="Fishing Info" visible="true" alpha="0.9"
            		url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/FishingAtlas2025/FishingInfo2025/MapServer"/>
                    <!--url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/FishingAtlas/FishingAtlas_Main_Map/MapServer"/-->
            <!--layer label="Fishing Info" open="true" opensublayer="Recommended opportunties" visible="true" alpha="0.9"
            		url="https://ndismaps.nrel.colostate.edu/ArcGIS/rest/services/FishingAtlas/FishingAtlas_Main_Map/MapServer"/-->
			<!-- layers in groups must be feature services! -->
            <layer group="Transportation" visible="true" alpha="1" radio="false"/>
                <layer  parentGroup="Transportation" label="Motor Vehicle Use Map" open="true" visible="true" alpha="1"  minScale="144448"
					url="https://apps.fs.usda.gov/arcx/rest/services/EDW/EDW_MVUM_02/MapServer/1"/>
                <layer  parentGroup="Transportation" label="BLM Colorado Routes" open="true" visible="true" alpha="1" minScale="144448"
                    url="https://gis.blm.gov/coarcgis/rest/services/transportation/BLM_CO_GTLF/FeatureServer/5" />
                <layer parentGroup="Transportation" label="Colorado State Parks Roads" visible="false" minScale="144448"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/1" />
                <layer parentGroup="Transportation" group="Trails" visible="true" open="false"
                    url="https://services5.arcgis.com/ttNGmDvKQA7oeDQ3/arcgis/rest/services/CPWAdminData/FeatureServer/"
                    layerIds="14,15"
                    layerVis="true,true"
                    layerNames="Trailheads,Trails"
                    minScale="144448"/>
            <layer group="Wildfire" label="Wildfire" open="true" visible="false" alpha="0.8"/>
			    <layer parentGroup="Wildfire" label="Wildfire Perimeters" open="true" visible="true" alpha="0.8" url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/1"/>
			    <layer parentGroup="Wildfire" label="Wildfire Incidents" open="true" visible="true" alpha="0.8" url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/ArcGIS/rest/services/USA_Wildfires_v1/FeatureServer/0"/>
            <!--layer label="Wildfire Perimeters" open="false" visible="false" alpha="0.8"
					url="https://services3.arcgis.com/T4QMspbfLg3qTGWY/arcgis/rest/services/Public_Wildfire_Perimeters_View/FeatureServer/0"/-->
            <layer label="Base Data" visible="true" alpha="0.85" listMode="hide"
                url="https://ndismaps.nrel.colostate.edu/arcgis/rest/services/FishingAtlas2025/BaseData2025/MapServer"/>
       </operationallayers>
		
		<hideGroupSublayers>Gold Medal Water,Trails,Fishing License Agent,Family friendly,More remote fly fishing,Ice fishing,Special Fishing Regulations,Fishing Information Point,Stocked with catchables (~10 inches),Emergency,Field Office,Chamber of Commerce or Welcome Center,Campgrounds and SWA Facilities</hideGroupSublayers>
    </map>

    <links>
        <iconsize>30px</iconsize>
        <!--helplink label="Use case #1"
            text="Video showing how to..."
            url = "https://"
            icon="./assets/images/star.png"/-->
        <!--helplink label="Getting Started"
            text="A video highlighting the features of our map atlas"
            url="https://"
            icon="./assets/images/compass3.png"/-->
        <link label="CPW Website"
            url="https://cpw.state.co.us"
            icon="./assets/images/logo.svg"/>
        <link label="HuntingAtlas"
            url="./index.html?app=HuntingAtlas"
            icon="./assets/images/logo.svg"
            extent="true"/>
		<link label="Buy License!"
    		url="https://cpw.state.co.us/BuyApply/pages/fishing.aspx"
    		icon="assets/images/i_buylicense.png"/>
		<link label="Fishing Brochure"
    		url="http://case.epaperflip.com/Colorado/fishing"
    		icon="assets/images/i_documentadd.png"/>
		<link label="Stocking Report"
    		url="https://cpw.state.co.us/thingstodo/Pages/StockingReport.aspx"
    		icon="assets/images/i_documentadd2.png"/>
    </links>
    <extra_widgets>
        <widget name="filter" title="Display Fishing Opportunities">
            <butten title="Family Friendly"
                url=""
                where=""/>
        </widget>
    </extra_widgets> 
</configuration>