.green-theme {
  --brand: #d4dbbe; /*#79835b;*/
  --hover: #aaaf99;
  --press:  #778743;
  --underline: #aaaf9966;
  --lightBackground: #eff3e1;
  --background: #d4dbbe;
  --calcite-color-brand: var(--brand)!important;
  --calcite-color-brand-press: var(--press);
  --calcite-color-brand-hover: var(--hover);
  --calcite-color-brand-underline: var(--underline);
}
.orange-theme{
    --brand: #e0dec8;
    --hover: #f8b944;
    --press: orange;
    --underline: #f8b94466;
    --lightBackground: #f3f3e1;
    --background: #e0dec8;
}

/* link colors */
a:-webkit-any-link {
    color: var(--press)!important;
}
a:-webkit-any-link:hover {
    color: var(--hover)!important;
    font-weight: 450;
}
/* identify marker symbol color */
.markerColor {
    fill: var(--press);
}
:host{
    stroke: var(--brand);
}
#titleDiv{
    background-color: var(--background);
}
.esri-menu__list-item--active, .esri-menu__list-item--active:hover, .esri-menu__list-item--active:focus {
    background-color: var(--lightBackground);
    border-left-color: var(--press);
}
calcite-tab-title {
    --calcite-color-brand: var(--press);
}
calcite-tab-title:active {
    color: var(--press);
}
calcite-tile {
    --calcite-color-brand: var(--press);
}
calcite-button {
    --calcite-color-brand: var(--brand);
    --calcite-color-brand-hover: var(--hover);
    --calcite-color-brand-press: var(--press);
}
:root button, .button {
    --calcite-color-brand: var(--brand);
    --calcite-color-brand-hover: var(--hover);
    --calcite-color-brand-press: var(--press);
}
calcite-switch {
  --calcite-color-brand: var(--brand);
  --calcite-ui-brand: var(--brand);
  --calcite-color-brand-hover: var(--hover);
  --calcite-color-brand-press: var(--press);
  --calcite-color-brand-underline: var(--underline);
}
input{
    border-color: light-dark(var(--hover), var(--brand)) !important;
    border-radius: 5px !important;
    padding: 3px;
}
input:active, select:hover {
    outline-color: var(--hover)
}
select{
    border-color: light-dark(var(--hover), var(--brand)) !important;
    border-radius: 5px !important;
    border-width: 2px;
    padding: 3px;
}
/* try to get rid of blue border on selected button */
button,
    textarea,
    input,
    select,
    a{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
    
    }