html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

/* Identify Styles */
.idTitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}
.idSubTitle{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-right: 5px;
}
.idSubValue{
  font-size: 16px;
  line-height: 20px;
}

.esri-layer-list__item-content {
  font-size: 1rem !important;
  padding: 5px 0;
}

calcite-tab-title {
  font-weight: 600;
  /*font-size: var (--calcite-font-size-2)!important;*/
}

/* remove accessiblity focus outline NOT WORKING!!!! */
calcite-tab-title:focus calcite-tab-title:active {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

calcite-dialog,
.dialog {
  --calcite-dialog-content-space: 0;
  --calcite-dialog-max-size-x: 350px;
  --calcite-dialog-max-size-y: 90vh;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
  border-radius: 0.75rem !important;
}
@media screen and (max-width: 768px) {
  calcite-dialog,
  .dialog {
    --calcite-dialog-max-size-y: 40vh;
  }
  /* not working!!!!!! */
  calcite-dialog catcite-panel {
    max-height: 50vh;
    margin-left: 10px;
  }
}

calcite-panel,
.panel {
  border-radius: 12px !important;
}

.esri-expand--auto .esri-expand__container--expanded {
  z-index: 2 !important;
  /* hide map scale behind panel */
}

.esri-widget,
.esri-componet,
.esri-expand__content-container,
.esri-dialog,
calcite-dialog,
calcite-panel.panel,
calcite-panel,
.panel,
.dialog--opening-active,
.dialog,
.container--open .dialog {
  border-radius: 0.75rem !important;
}

/* add transparent white background around scale bar and map scale */
.esri-ui-bottom-left {
  background-color: #ffffffdd;
  border-radius: 12px;
   padding: 0 0 10px 5px;
}
/* set identify height */
.esri-popup--is-docked-top-left .esri-popup__main-container, .esri-popup--is-docked-top-right .esri-popup__main-container, .esri-popup--is-docked-bottom-left .esri-popup__main-container, .esri-popup--is-docked-bottom-right .esri-popup__main-container {
  max-height: calc(100% - 90px);
}
@media screen and (max-width: 768px) {
  .esri-popup--is-docked-top-left .esri-popup__main-container, .esri-popup--is-docked-top-right .esri-popup__main-container, .esri-popup--is-docked-bottom-left .esri-popup__main-container, .esri-popup--is-docked-bottom-right .esri-popup__main-container {
    max-height: calc(50%);
    margin-top: 10px !important;
    width: 100%;
  }
  .help {
    margin-top: 10px!important;
    margin-left: 0px!important;
  }
}

/* error box */
.errorbox {
  background-color: white;
  width: 400px;
  max-width: 90vw;
  max-height: 100vh;
  height: 350px;
  border-radius: 12px;
  position: absolute;
  top: 20%;
  left: calc(50% - 200px);
  z-index: 2;
  box-shadow: 0 1px 4px #000c; 
  max-height: calc(100% - 60px);
  margin:0;
}
@media screen and (max-width: 768px) {
  .errorbox {
    top: 20px;
    left: calc(50% - 45vw);
  }
}
.errortitle {
  text-align: center;
  background-color: var(--brand);
  padding:10px;
  margin:0;
  font-weight: 450;
  font-size: 1.125rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.errormsg{
  padding:10px;
  margin:0;
  height:250px;
  overflow-y: auto;
  max-height: calc(100% - 140px);
}
.errorbtn {
  color: #fff;
    background-color: var(--brand);
    border: 1px solid var(--hover);
    width: 60px;
    height: 40px;
    border-radius: 12px;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.errorbtn:hover{
  background-color: var(--hover);
  border: 1px solid var(--press);
  color: white;
}
/* map layer loaded status icon blink */
.waitingForConnection {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

/* remove extra scroll bar on identify */
:host.content-wrapper{
  overflow: hidden!important;
}

/*.esri-component{
    border-radius: 12px!important;
  }*/
.myButton {
  padding: 9px;
    border-radius: 12px;
    border: 1px solid var(--hover);
    background-color: white;
    box-shadow: 2px 2px 2px #ccc;
    margin:10px;
}
.myButton:hover {
  background-color: #f3f3f3;
}
input[type="checkbox"] {
  width:1.75em;
  height:1.75em;
  vertical-align: middle;
}
input[type="checkbox"]:checked {
  accent-color: var(--background);
}
.help_button{
  position: absolute;
  left: 20px;
  top: 80px;
  border: none;
  background-color: #ffffff55;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .help_button{
    left:225px;
    top:10px;
  }
}
.esri-widget--button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.esri-zoom .esri-widget--button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.esri-zoom .esri-widget--button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.esri-expand {
  min-width: 40px;
  min-height: 40px;
}

/*.esri-expand__content-container{
    border-radius: 12px;
  }*/
.esri-input {
  font-size: small;
}

.esri-input[type=text],
.esri-input[type=password],
.esri-input[type=number] {
  min-height: 40px;
}

.esri-search__sources-button {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.esri-search__submit-button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* mobile background color was black */
:root {
  --calcite-sheet-scrim-background-internal: transparent;
  --calcite-sheet-scrim-background: transparent;
  --calcite-scrim-background: transparent !important;
  --calcite-color-transparent-scrim: transparent !important;
  --calcite-dialog-scrim-background-color: transparent !important;
  --calcite-scrim-background-color: transparent !important;
  --calcite-corner-radius-round: 12px !important;
  --calcite-corner-radius: 12px;
  --calcite-border-radius: var(--calcite-border-radius-round, 12px);
}

/*.esri-layer-list__item-content {
    font-size:  var(--calcite-font-size-0)!important;
  }*/
#bmGallery {
  background-color: #fff;
  min-height: 200px;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  #bmGallery {
    /*height: 300px;*/
    min-width: 280px;
  }
}

/*#bmGallery ul{
list-style: none;text-align: center;display:flex;padding-left:0;flex-flow: wrap;justify-content: center;
}
#bmGallery li{
padding:5px;
width:110px;
cursor: pointer;
}
#bmGallery img{
object-fit:cover;
padding: 5px;
}
.bmUnselected img {
border:none;
width: 100px;
height: 70px;
}
.bmSelected img {
border:3px solid gold;
width: 100px;
height: 70px;
}*/